body {
    background-color:  lightgoldenrodyellow;
    color: darkred;
    font-weight: bold;
    font-size: 20px;
}

h1 {
    padding-left: 50px;
}

hr {
   border-style: double;  
}

#content-div {
    padding-top: 40px;
    padding-left: 200px;
}

#total-check {
    padding-left: 90px;
    color: midnightblue;
    font-weight: bold;
} 