body {
    background-color:  lightgoldenrodyellow;
    color: darkred;
    font-weight: bold;
    font-size: 20px;
}

hr {
   border-style: double;  
}

#content-div {
    padding-top: 40px;
    padding-left: 200px;
}